body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.warning {
  color: darkred;
  font-size: larger;
}

#matches, #scores {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#matches section, #scores section {
  background-color: crimson;
  color: white;
  margin: 5px;
  padding: 5px;
}

#scores td {
  padding: 5px 20px;
}

/* Game CSS*/
#game {
  position: relative;
}

button.game {
  font-size: 1.5em;
  background-color: #2ea44f;
  color: white;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  text-align: center;
  font-weight: bold;
}

